// Color
$pri-color: #02a9dc;
$sec-color: #000000;
$pri-color-alt: #e6f9fe;
$sec-color-alt: #efe4e4;
$text-color: #000000;
$text-color-alt: #747474;
$background-color: #eaeaea;

$transparent: rgba(255, 255, 255, .3);
$orange: #e68c12;
$green: #007312;


// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;






